<div class="landing_page">
  <h1>Curious Drinker</h1>
  <p>Curiosity Never Killed a Drinker</p>
  <p>The Lower East Side is the place to be for parties and drinks, but which places stand out? <br /> Curious Drinker provides you with Foursquare's top places places to drink, <br /> and their ratio of males to females.</p>
  <button id="ignition">Start!</button>
</div>

<div class="content"> 
  <div class="top_banner">
    <h1>Curious Drinker</h1>
    <p>Curiosity Never Killed a Drinker</p>
  </div>

  <div class="main">
    <div id="map-canvas" class="col_left">
    </div>

    <div class="col_right">
      <div class="info_container">
      </div>

      <div class="places_container touch">
      </div>
    </div>
  </div>

</div>

