html { 
  height: 100% 
}

body {
  /*background-color: black;*/
  font: 10px sans-serif;
  /*color: white;*/
  height: 100%; 
  margin: 0; 
  padding: 0
}

svg {
  border: 1px solid black;
}

#map-canvas { 
  width: 80%;
  height: 80%; 
}
