/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'fonts';
$tint: 0.9;
$darkest_grey: rgb(58, 53, 62);
$darker_grey_opague: rgba(116, 106, 125, $tint);
$darker_grey: rgb(116, 106, 125);
$lighter_grey_opague: rgba(113, 113, 138, $tint);
$lighter_grey: rgb(113,113,138);
$darker_orange_opague: rgba(250, 136, 42, $tint);
$darker_orange: rgb(250, 136, 42);
$lighter_orange_opague: rgba(250, 136, 42, $tint);
$lighter_orange: rgb(250, 136, 42);
$kind_of_white: rgb(250, 248, 245);


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ******************* My styles ****************** */

html { 
  height: 100%;
}

body {
  background: 
    // linear-gradient(
    //   to left, 
    //   RGBA(116, 106, 125, 0.6), 
    //   RGBA(113, 113, 138, 0.6)
    // ),
    url('https://s3.amazonaws.com/ooomf-com-files/ddTzoX58Q153kjaitXl4_ny.jpg');
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  /*color: white;*/
  height: 100%;
  margin: 0; 
  padding: 0;
  min-width: 960px;
}

.pg_container{
  width: 100%;
  height: 100%;
}

.landing_page{
  display: block;
}

.content{
  margin-left: 10px;
  margin: 0 auto;
  width:100%;
  height:100%;
  display: none;
  text-align: center;
}

/* Top Banner */
.top_banner {
  text-align: center;
  background-color: $darkest_grey;
  padding: 7px 0;
}

.top_banner h1 {
  font-size: 40px;
  font-weight: bold;
  color: $darker_orange;
  margin-bottom: 7px;
}
.top_banner p {
  font-size: 14px;
  color: $kind_of_white;
}

.col_left { 
  border:1px solid $darkest_grey;
  float: left;
  width: 70%;
  height: 90%;
}
/* Right Column */
.col_right {
  float: left;
  border: 1px solid $darkest_grey;
  min-width:275px;
  width: 29.7%;
  height: 90%;
}

/* Big Graph Display */
.info_container{
  border: 1px solid $darkest_grey;
  border-top: none;
  height: 35%;
  min-height: 260px;
  text-align: center;
}

/* List Display */
.places_container{
  border: 1px solid $darkest_grey;
  height: 61%;
  // min-height: 500px;
  overflow-y: scroll;
}

.places_container div{
  min-height: 50px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.store_name {
  font-size: 25px;
  font-weight: bold;
}

/* List Display Clicked and Unclicked*/
.unclicked {
  background-color: $darker_orange_opague;
  color: $darker_grey; 
  border-bottom: 1px solid $darker_grey_opague;
}

.clicked {
  background-color: $darker_grey_opague;
  color: $darker_orange;
  border-bottom: 1px solid $darker_orange_opague;
}

/* Information Window on Map */
.infowindow {
  /*min-height: 210px;*/
  text-align: center;
  min-width: 80px;
}

.infowindow p{
  padding-right: 3px;
  font-weight: bold;
}

