html { 
  height: 100% 
}

body {
  /*background-color: black;*/
  font: 10px sans-serif;
  /*color: white;*/
  height: 100%; 
  margin: 0; 
  padding: 0
}

.col_left { 
  float: left;
  width: 70%;
  height: 90%; 
}

.col_right {
  float: left;
}