<!DOCTYPE html>
<html>
<head>
  <title>LesPopCheck</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_map_api}"></script>
  <script type="text/template" id='place-template'>
    <p class="store_name"><%%= name %></p>
    <p class="store_address"><%%= address %></p>
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
